button {
  cursor: pointer;
}

:focus, :active {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

button, select, input, textarea {
  border: none;
  color: inherit;
  font-size: inherit;
  background: inherit;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

::before, ::after {
  box-sizing: border-box;
}

::-moz-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::placeholder {
  color: inherit;
}

textarea {
  resize: none;
}

li {
  list-style: none;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  min-width: 320px;
  font: 14px/1.15 "Helvetica Neue", sans-serif;
  background-color: #222629;
  color: #e3e3e3;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1100px;
  margin: 0px auto;
}

#audioplayer__controls {
  margin: 0 auto;
  padding: 1px;
}

.songShadow {
  width: 498px;
  height: 70px;
  background: inherit;
}

.audioplayer {
  position: static;
  display: flex;
  width: 1000px;
  height: 720px;
  margin: 100px auto 0;
  font: 14px/1.5 "Helvetica Neue", sans-serif;
  background: #192029;
  box-shadow: 0 2px 12px 8px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.audioplayer__left {
  border-right: 1px solid #222629;
}
.audioplayer__right {
  overflow: hidden auto;
}
.audioplayer__right::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.audioplayer__right::-webkit-scrollbar-track {
  background: #222629;
}
.audioplayer__right::-webkit-scrollbar-thumb {
  background-color: #3a3b38;
  border-radius: 5px;
}
.audioplayer__songImage img {
  width: 500px;
  height: 500px;
}
.audioplayer__trackblock {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: #607D8B;
  font-weight: 700;
}
.audioplayer__progressBar {
  flex: 1;
  height: 6px;
  background-color: #607D8B;
  cursor: pointer;
}
.audioplayer__songProgress {
  height: 6px;
  background-color: #ffffff;
}
.audioplayer__buttons {
  display: flex;
  justify-content: space-between;
}
.audioplayer__repeat {
  width: 150px;
}
.audioplayer__volumeContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 150px;
}
.audioplayer__volumeBar {
  width: 100px;
  height: 6px;
  margin-bottom: 4px;
  background-color: #607D8B;
  cursor: pointer;
}
.audioplayer__currentVolume {
  width: 50px;
  height: 6px;
  background-color: #ffffff;
}
.audioplayer__mainControls {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 70px;
}
.audioplayer__songData {
  margin: 15px 0 0 0;
  color: #607D8B;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.audioplayer__name {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  text-transform: none;
  text-align: center;
}
.audioplayer__songItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 10px;
  cursor: pointer;
}
.audioplayer__playingStatusIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.audioplayer__playingStatusIcon img {
  width: 20px;
  height: 20px;
}
.audioplayer__itemMetaData {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 337px;
}
.audioplayer__itemSongName {
  font-weight: 300;
  font-size: 16px;
  color: #FFF;
}
.audioplayer__itemAuthorAlbum {
  color: #607D8B;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.audioplayer__smallCover {
  margin-left: 11px;
  width: 50px;
  height: 50px;
}
.audioplayer__itemDuration {
  width: 55px;
  color: #607D8B;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.movable {
  position: absolute;
  z-index: 9999;
  pointer-events: none;
  transition: none;
}