button{cursor:pointer;}
:focus,:active{outline:none;}
*{margin:0;padding:0;box-sizing:border-box;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
button,select,input,textarea{border:none;color:inherit;font-size:inherit;background:inherit;}
a,a:visited{text-decoration:none;color:inherit;}
::before,::after{box-sizing:border-box;}
::placeholder{color:inherit;}
textarea{resize:none;}
li{list-style:none;}


:root {
    --player-bg-color: #192029;
    --player-text-color: #607D8B;
}

body {
    position: relative;
    min-width: 320px;
    font: 14px/1.15 "Helvetica Neue", sans-serif;
    background-color: #222629;
    color: #e3e3e3;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 1100px;
    margin: 0px auto;
}



.audioplayer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.audioplayer {
    display: flex;
    width: 1000px;
    height: 720px;
    font: 14px/1.5 "Helvetica Neue", sans-serif;
    background: var(--player-bg-color);
    box-shadow: 0 2px 12px 8px rgba(0, 0, 0, 0.1);
    user-select: none;

    // .audioplayer__left
    &__left {
        border-right: 1px solid #222629;
    }

    // .audioplayer__right
    &__right {
        overflow: hidden auto;

        &::-webkit-scrollbar {
            height: 5px;
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: #222629;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #3a3b38;
            border-radius: 5px;
        }
    }

    // .audioplayer__songImage
    &__songImage {

        img {
            width: 500px;
            height: 500px;
        }
    }

    // .audioplayer__trackblock
    &__trackblock {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        color: var(--player-text-color);
        font-weight: 700;
    }

    // .audioplayer__progressBarWrapper
    &__progressBarWrapper {
        flex: 1;
        display: flex;
        align-items: center;
        height: 6px;
        padding: 15px 0;
        cursor: pointer;
    }

    // .audioplayer__progressBar
    &__progressBar {
        flex: 1;
        display: flex;
        height: 6px;
        background-color: var(--player-text-color);
    }

    // .audioplayer__songProgress
    &__songProgress {
        height: 6px;
        background-color: #ffffff
    }

    // .audioplayer__buttons
    &__buttons {
        display: flex;
        justify-content: space-between;
    }

    // .audioplayer__repeat
    &__repeat {
        width: 150px;
    }

	// .audioplayer__volumeContainer
    &__volumeContainer {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 150px;
    }
    
    // .audioplayer__volumeBarWrapper
    &__volumeBarWrapper {
        display: flex;
        align-items: center;
        width: 100px;
        height: 6px;
        padding: 15px 0;
        margin-bottom: 4px;
        cursor: pointer;
    }

    // .audioplayer__volumeBar
    &__volumeBar {
        flex: 1;
        height: 6px;
        background-color: var(--player-text-color);
    }

    // .audioplayer__currentVolume
    &__currentVolume {
        width: 50px;
        height: 6px;
        background-color: #ffffff;
    }

    // .audioplayer__mainControls
    &__mainControls {
        display: flex;
        justify-content: center;
        gap: 10px;
        height: 70px;
    }

    // .audioplayer__songData
    &__songData {
        margin: 15px 0 0 0;
        color: var(--player-text-color);
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }

	// .audioplayer__name
	&__name {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400;
        text-transform: none;
        text-align: center;
	}

    // .audioplayer__songItem
    &__songItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0 10px 10px;
        background: var(--player-bg-color);
        cursor: pointer;

        &:hover {
            background-color: #30363e;

            .audioplayer__playingStatusIcon {
                opacity: 1;
            }
        }
    }

    // .audioplayer__playingStatusIcon
    &__playingStatusIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        opacity: 0;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .active-song &__playingStatusIcon{
        opacity: 1;
    }

    // .audioplayer__itemMetaData
    &__itemMetaData {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 337px;
    }

    // .audioplayer__itemSongName
    &__itemSongName {
        font-weight: 300;
        font-size: 16px;
        color: #FFF;
    }

    // .audioplayer__itemAuthorAlbum
    &__itemAuthorAlbum {
        color: var(--player-text-color);
        text-transform: uppercase;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // .audioplayer__smallCover
    &__smallCover {
        margin-left: 11px;
        width: 50px;
        height: 50px;
    }

    // .audioplayer__itemDuration
    &__itemDuration {
        width: 55px;
        color: var(--player-text-color);
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }
}



.movable {
    position: absolute;
    z-index: 9999;
    pointer-events:none;
    transition: none;
}

.songShadow {
    height: 70px;
    background: inherit;
}