.audioplayer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.audioplayer {
    display: flex;
    width: 1000px;
    height: 720px;
    font: 14px/1.5 "Helvetica Neue", sans-serif;
    background: var(--player-bg-color);
    box-shadow: 0 2px 12px 8px rgba(0, 0, 0, 0.1);
    user-select: none;

    // .audioplayer__left
    &__left {
        border-right: 1px solid var(--page-bg-color);
    }

    // .audioplayer__right
    &__right {
        overflow: hidden auto;

        &::-webkit-scrollbar {
            height: 5px;
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: var(--page-bg-color);
        }
        &::-webkit-scrollbar-thumb {
            background-color: #3a3b38;
            border-radius: 5px;
        }
    }

    // .audioplayer__cover
    &__cover {

        img {
            width: 500px;
            height: 500px;
        }
    }

    // .audioplayer__progressbar-wrapper
    &__progressbar-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        color: var(--player-text-color);
        font-weight: 700;
    }

    // .audioplayer__progressbar
    &__progressbar {
        flex: 1;
        display: flex;
        align-items: center;
        height: 6px;
        margin: 15px 0;
        background-color: var(--player-text-color);
        cursor: pointer;
    }

    // .audioplayer__progress
    &__progress {
        height: 100%;
        background-color: #fff;
    }

    // .audioplayer__buttons
    &__buttons {
        display: flex;
        justify-content: space-between;
    }

    // .audioplayer__repeat
    &__repeat {
        width: 150px;
    }

	// .audioplayer__volume-wrapper
    &__volume-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 150px;
    }
    
    // .audioplayer__volume-bar
    &__volume-bar {
        display: flex;
        align-items: center;
        width: 100px;
        height: 6px;
        margin: 15px 0 19px;
        background-color: var(--player-text-color);
        cursor: pointer;
    }

    // .audioplayer__current-volume
    &__current-volume {
        height: 100%;
        background-color: #fff;
    }

    // .audioplayer__main-controls
    &__main-controls {
        display: flex;
        justify-content: center;
        gap: 10px;
        height: 70px;
    }

    // .audioplayer__song-data
    &__song-data {
        margin: 15px 0 0 0;
        color: var(--player-text-color);
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }

	// .audioplayer__name
	&__name {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400;
        text-transform: none;
        text-align: center;
	}
}


.song {
    $this: &;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 10px;
    background: var(--player-bg-color);
    cursor: pointer;

    &:hover {
        background-color: #30363e;

        #{$this}__status-icon {
            opacity: 1;
        }
    }

    &.active-song &__status-icon{
        opacity: 1;
    }

    // .song__status-icon
    &__status-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        opacity: 0;

        img {
            width: 20px;
            height: 20px;
        }
    }

    // .song__data
    &__data {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 337px;
    }

    // .song__name
    &__name {
        font-weight: 300;
        font-size: 16px;
        color: #FFF;
    }

    // .song__album
    &__album {
        color: var(--player-text-color);
        text-transform: uppercase;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // .song__cover
    &__cover {
        margin-left: 11px;
        width: 50px;
        height: 50px;
    }

    // .song__duration
    &__duration {
        width: 55px;
        color: var(--player-text-color);
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }

}
    